body {
  background-color: #121212;
  font-size: 20px;
  margin: 20px;
  width: calc(100vw - 40px);
  height: calc(100vh - 40px);
  font-family: 'Press Start 2P', cursive;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.score-board{
  margin: 10px 0 20px 0;
}

.game-field{
  height: 100%;
  outline: 4px solid #fff;
  position: relative;
}

.score-board div{
  margin: 10px 0;
}

#ball{
  background: #0f0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: none;
  z-index: 2;
  position: absolute;
}

#request{
  outline: 4px solid #fff;
  background-color: transparent;
  color: #fff;
  font-family: 'Press Start 2P', cursive;
  border: none;
  height: 50px;
  width: 150px;
  font-size: 18px;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 75px);
}

#request:hover{
  outline-color: #0f0;
  color: #0f0;
}

.hole{
  background-color: #fff;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  display: none;
  z-index: 1;
  position: absolute;
}